@font-face {
    font-family: 'SF Distant Galaxy';
    src: url('https://www.fontspace.com/shyfoundry/sf-distant-galaxy')
        format('truetype');
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px;
}

.title {
    font-family: 'SF Distant Galaxy', Arial, Helvetica, sans-serif;
}
