* {
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
}

.light {
    background-color: blanchedalmond;
    color: blue;
}

.dark {
    background-color: blue;
    color: blanchedalmond;
}

.title {
    font-size: 50px;
}
