<header class="header">
    <a href="" class="header__logo"></a>
    <header class="header__menu">
        <ul class="header__menu-expanded">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Pages</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            
            <div class="header__menu-icon">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </ul>
</header>