html {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

.wrapper {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    text-align: center;
}

input {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}
