* {
    box-sizing: border-box;
}

.body {
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightgrey;
}
.header {
    background-color: lightgrey;
    width: 100%;
}
.menu {
    background-color: lime;
    list-style-type: none;
    padding: 0px;
}
.article {
    background-color: yellow;
}
.image {
    background-color: orange;
    width: 250px;
    height: 200px;
    display: none;
}
.aside {
    background-color: grey;
    margin: 16px 0;
}

@media all and (min-width: 480px) {

    .nav-and-main-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    .menu li {
        align-items: left;
        width: 20vw;
    }
    .main {
     margin: 0px 20px;
     width: 80vw;

    }
    .article {
        display: flex;
        flex-direction: column;
    }

    .article .image {
        background-color: orange;
        width: 250px;
        height: 200px;
        display: inline-block;
    }

    .aside {
        background-color: grey;
        margin: 16px 0;
    }
    .main-content {
        display: flex;
    }
}

@media all and (min-width: 1000px) {
    .nav-and-main-wrapper {
        display: flex;
        justify-content: flex-start;
    }
    .menu li {
        align-items: left;
        width: 20vw;
    }
    .main {
     margin: 0px;
     width: 80vw;
     display: flex;
     align-items: top;

    }
    .article {
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
    }

    .article .image {
        background-color: orange;
        width: 250px;
        height: 200px;
        display: inline-block;
    }

    .aside {
        background-color: grey;
        margin: 0px;
        height: fit-content;
    }
}
